{% block content %}
  <h1>Family Tree Builder</h1>
  <ul>
        <li><h2>{{ person.first_name }} {{ person.last_name }}</h2></li>
        <ul>
            <h3>Parents</h3>
            {% if person.mother %}
                <li>Mother: <a href="{{ person.mother.get_url }}"> {{ person.mother.first_name }} {{ person.mother.last_name }}</a></li>
            {% endif %}

            {% if person.father %}
                <li>Father: {{ person.father.first_name }} {{ person.father.last_name }}</li>
            {% endif %}
    
            {% if siblings %}
                <h3>Siblings</h3>
                {% for sibling in siblings.all %}
                    <li>{{ sibling.first_name }} {{ sibling.last_name }}</li>
                {% endfor %}
            {% endif %}

            {% if half_siblings %}
                <h3>Half Siblings</h3>
                {% for half_sibling in half_siblings.all %}
                    <li>{{ half_sibling.first_name }} {{ half_sibling.last_name }}</li>
                {% endfor %}
            {% endif %}
        </ul>
  </ul>
{% endblock %}