{% extends 'base.html' %}

{% block title %}{{ whanau.name }} Whanau{% endblock %}

{% block content %}
    <h1>{{ whanau.name }} Whanau</h1>

    {% if whanau.members.all %}
    <h2>Whanau Members:</h2>
        <ul>
            {% for whanau_member in whanau.members.all %}
                <li><a href="{{whanau_member.get_url}}">{{whanau_member.first_name}} {{whanau_member.last_name}}</a></li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if whanau.iwi.all %}
        <h3>Iwi: </h3>
        <ul>
            {%for iwi_object in whanau.iwi.all%}
                <li>{{ iwi_object.iwi }}</li>
            {%endfor%}
        </ul>
    {% endif %}

    {% if whanau.hapu.all %}
        <h3>Hapu: </h3>
        <ul>
            {%for hapu_object in whanau.hapu.all%}
                <li>{{ hapu_object.hapu }}</li>
            {%endfor%}
        </ul>
    {% endif %}

    {% if whanau.images.all %}
        <h3>Whanau Images:</h3>
        <ul>
            {% for whanau_image in whanau.images.all %}
                <li>
                    <div>
                        <h4>{{whanau_image.title}}</h4>
                    </div>

                    <img src="{{whanau_image.image.url}}" alt="{{whanau_image.alt_text}}" style="height:315px;">

                    {% if whanau_image.description %}
                        <div>
                            <h5>Description:</h5>
                            <p>{{whanau_image.description}}</p>
                        </div>
                    {% endif %}

                        <div>
                            <p>Uploaded at: {{whanau_image.upload_date}}</p>
                        </div>

                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if whanau.videos.all %}
        <h3>Whanau Videos:</h3>
        <ul>
            {% for video_object in whanau.videos.all%}
                <li>
                    <h4>{{video_object.video_title}}</h4>

                    {% if video_object.video_service == "youtube" %}
                        <iframe
                                width="640"
                                height="385"
                                src="https://www.youtube-nocookie.com/embed/{{ video_object.video_id }}?rel=0&amp;controls=0&amp;showinfo=0"
                                allow="autoplay; encrypted-media"
                                allowfullscreen>
                        </iframe>
                    {% else %}
                        <iframe
                                width="640"
                                height="385"
                                src="https://player.vimeo.com/video/{{ video_object.video_id }}"
                                allow="autoplay; encrypted-media"
                                allowfullscreen>
                        </iframe>
                    {% endif %}

                    <p>Uploaded at: {{video_object.upload_date}}</p>
                </li>
            {%endfor%}
        </ul>
    {% endif %}

    {% if whanau.documents.all%}
        <h3>Documents: </h3>
        <ul>
            {% for document in whanau.documents.all %}
                <li><a href="{{ document.file.url }}" target="_blank">{{document.title}}</a></li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if whanau.waiata.all %}
        <h3>Whanau Waiata:</h3>
        <ul>
            {% for waiata in whanau.waiata.all %}
                <li>
                    <div>
                        <h4>{{waiata.name}}</h4>
                    </div>

                    {% if waiata.songwriter %}
                        <div>
                            <h5>Songwriter:</h5>
                            <p>{{waiata.songwriter}}</p>
                        </div>
                    {% endif %}

                    {% if waiata.description %}
                        <div>
                            <h5>Description:</h5>
                            <p>{{waiata.description}}</p>
                        </div>
                    {% endif %}

                    {% if waiata.lyrics %}
                        <div>
                            <h5>Lyrics:</h5>
                            <p>{{waiata.lyrics|linebreaksbr}}</p>
                        </div>
                    {% endif %}

                    {% if waiata.file %}
                        <h5>Files:</h5>
                        <div><a href="{{ waiata.file.url }}" target="_blank">{{waiata.file.name}}</a></div>
                    {% endif %}

                    {% if waiata.video_id %}
                            <div><h5>{{waiata.video_title}}</div></h5>
        
                            {% if waiata.video_service == "youtube" %}
                            <iframe
                                    width="640"
                                    height="385"
                                    src="https://www.youtube-nocookie.com/embed/{{ waiata.video_id }}?rel=0&amp;controls=0&amp;showinfo=0"
                                    allow="autoplay; encrypted-media"
                                    allowfullscreen>
                            </iframe>
                        {% else %}
                            <iframe
                                    width="640"
                                    height="385"
                                    src="https://player.vimeo.com/video/{{ waiata.video_id }}"
                                    allow="autoplay; encrypted-media"
                                    allowfullscreen>
                            </iframe>
                        {% endif %}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if whanau.haka.all %}
    <h3>Whanau Haka:</h3>
        <ul>
            {% for haka in whanau.haka.all %}
                <li>
                    <div>
                        <h4>{{haka.name}}</h4>
                    </div>

                    {% if haka.composer %}
                        <div>
                            <h5>Composer:</h5>
                            <p>{{haka.composer}}</p>
                        </div>
                    {% endif %}

                    {% if haka.description %}
                        <div>
                            <h5>Description:</h5>
                            <p>{{haka.description}}</p>
                        </div>
                    {% endif %}

                    {% if haka.lyrics %}
                        <div>
                            <h5>Lyrics:</h5>
                            <p>{{haka.lyrics|linebreaksbr}}</p>
                        </div>
                    {% endif %}

                    {% if haka.file %}
                        <h5>Files:</h5>
                        <div><a href="{{ haka.file.url }}" target="_blank">{{haka.file.name}}</a></div>
                    {% endif %}

                    {% if haka.video_id %}
                            <div><h5>{{haka.video_title}}</div></h5>
        
                            {% if haka.video_service == "youtube" %}
                            <iframe
                                    width="640"
                                    height="385"
                                    src="https://www.youtube-nocookie.com/embed/{{ haka.video_id }}?rel=0&amp;controls=0&amp;showinfo=0"
                                    allow="autoplay; encrypted-media"
                                    allowfullscreen>
                            </iframe>
                        {% else %}
                            <iframe
                                    width="640"
                                    height="385"
                                    src="https://player.vimeo.com/video/{{ haka.video_id }}"
                                    allow="autoplay; encrypted-media"
                                    allowfullscreen>
                            </iframe>
                        {% endif %}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% comment %} Under review if it's important enough to keep. Whether we want it now or later
Needs evaluating the value of this feature {% endcomment %}
    {% if whanau.whanau_stories.all %}
        <h3>Whanau Stories:</h3>
        <ul>
            {% for whanau_story in whanau.whanau_stories.all %}
                <li>
                    <div>
                        <h4>{{whanau_story.title}}</h4>
                    </div>

                    <div>
                        <h5>Narrative:</h5>
                        <p>{{whanau_story.narrative|linebreaksbr}}</p>
                    </div>

                    {% if whanau_story.whanau_story_images.all %}
                        <h5>Images:</h5>
                        <ul>
                            {% for whanau_story_image in whanau_story.whanau_story_images.all %}
                                <li>
                                    <div>
                                        <b>{{whanau_story_image.title}}</b>
                                    </div>
                
                                    <img src="{{whanau_story_image.image.url}}" alt="{{whanau_story_image.alt_text}}" style="height:315px;">
                
                                    {% if whanau_story_image.description %}
                                        <div>
                                            <b>Description:</b>
                                            <p>{{whanau_story_image.description}}</p>
                                        </div>
                                    {% endif %}
                
                                        <div>
                                            <p>Uploaded at: {{whanau_story_image.upload_date}}</p>
                                        </div>
                                </li>
                            {% endfor %}
                    {% endif %}


                    
                </li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}